<!-- <div class="form-popup" id="myForm">
  <form action="/login" method="POST" id="login" class="form-container">
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    <h1>Login</h1>

    <label for="username"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">Login</button>
  </form>

  <form action="/register" method="POST" id="create" class="form-container">
    <h1>Register</h1>

    <label for="username"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">Register</button>
  </form>
</div> -->


<% if (!locals.user_id) { %>
  <button id="auth-open" onclick="openForm()">Open Form</button>
<% } else { %>
  <form method="POST" action="/logout">
    <button type="submit" id="auth-logout">Logout</button>
  </form>
<% } %>

<aside id="auth-drop-down">
  <form method="POST" action="/login" id="auth-login">
    <input type="text" placeholder="Email" name="username" />
    <input type="password" placeholder="Password" name="password" />
    <button type="submit" class="auth-submit">Login</button>
    OR
  </br>
    <button type="button" class="auth-switch">Register</button>
  </form>
  <form method="POST" action="/register" id="auth-register">
    <input type="text" placeholder="Email" name="username" />
    <input type="password" placeholder="Password" name="password" />
    <button type="submit" class="auth-submit">Register</button>
    OR
  </br>
    <button type="button" class="auth-switch">Login</button>
  </form>
</aside>
