<article class="discover-category cat1">
  <header class="discover-category-header">
    <h3 class="discover-category-name">
      Food
    </h3>
  </header>
  <section class="discover-category-main">
    <h3>REVIEWS</h3>
  </section>
</article>

<article class="discover-category cat2">
  <header class="discover-category-header">
    <h3 class="discover-category-name">
      Movies
    </h3>
  </header>
  <section class="discover-category-main">
    <h3>REVIEWS</h3>
  </section>
</article>

<article class="discover-category cat3">
  <header class="discover-category-header">
    <h3 class="discover-category-name">
      Active
    </h3>
  </header>
  <section class="discover-category-main">
    <h3>REVIEWS</h3>
  </section>
</article>
