<nav class="topnav" id="myTopnav">
  <div class="nav-logo-container">
    <button class="nav-logo">LOGO</button>
  </div>
  <a href="javascript:void(0);" class="icon nav-menu">
    <i class="fa fa-bars"></i>
  </a>

  <% if (locals.users) { %>
    <h3 class="user-loggedIn">Welcome: <%= users[0].name %></h3>
  <% } %>
</nav>
