<nav class="topnav" id="myTopnav">
  <p class="nav-logo">LOGO</p>
  <a href="javascript:void(0);" class="icon nav-menu">
    <i class="fa fa-bars"></i>
  </a>
  <form class="nav-search-form">
    Search your city
    <input type="text" class="nav-search-input" name="search-input">
  </form>
  <p class="nav-auth">Login/Reg</p>
</nav>
