<!-- <section class="slider">
  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>
</section> -->
<section class="sliderMaps">

  <button id="create">Create</button>
  <button id="data">Data</button>
  <section class="maps">
    <article id="mapCollection">

    </article>
  </section>
</section>
