<section id="slider-maps">

  <button id="create">Create</button>
  <!-- <button id="data">Data</button> -->
  <section class="maps">
    <article id="mapCollection">

    </article>
  </section>
</section>
