<section class="slider">
  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>

  <article class="slider-container">

  </article>
</section>
