<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>

  <!-- Framework CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/discover.css" type="text/css" />

  <!-- Framework JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://kit.fontawesome.com/3449331f18.js" crossorigin="anonymous"></script>

  <!-- Internal JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/nav.js"></script>
  <script type="text/javascript" src="/scripts/promiseAPI.js"></script>
</head>

<body>

  <%- include partials/_nav %>

  <%- include partials/_menu %>

  <main class="container">

    <header class="map-desc">
      <h1 class="map-desc-title">MAP TITLE!</h1>
      <p class="map-desc-info">MAP INFO!</p>
    </header>

    <section id="map" class="gmaps">
      <h2>MAPS!</h2>
    </section>

  <%- include partials/_discover %>

  </main>
</body>
</html>
