<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline&display=swap" rel="stylesheet">

<style>
  /* Set the size of the div element that contains the map */
  .fav {
    z-index: 20;
  }
  .map {
    margin-top: 100px;
    margin-left: 20px;
    height: 50vh;
    border-radius: 8px;
    /* The height is 400 pixels */
    width: 60vh;
    flex: 0 0 auto;
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(11, 14, 21);
    width: 20%;
    height: 100vh;
    font-family: 'Bungee Hairline';
    font-size: 25px;
    color: white;
    position: fixed;
    z-index: 100;
  }
  .options {
    border-bottom: 1px solid gray;
    margin-left: 16px;
    margin-right: 16px;
    height: 80px;
  }
  .title {
    font-family: 'Bungee Hairline';
    font-size: 36px;
    color: white;
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    height: 45px;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  .maps{
    display: flex;
    flex-direction: row;


  }
  #mapCollection {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    flex-wrap: nowrap;
    z-index: 10;

  }
  #foodmap {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;
    flex-wrap: nowrap;
    z-index: 10;

  }
  main {
    margin-left: 20%;
    height: 100vh;
    width: -webkit-fill-available;
  }
</style>
</head>

<body>
  <nav>
    <div class="title">GOOGLE API</div>
    <div class="options">GOOGLE</div>
    <div class="options">GOOGLE</div>
    <div class="options">GOOGLE</div>
    <div class="options">GOOGLE</div>
  </nav>
  <main>
      <!-- <button id="create">Create</button>
      <button id="data">Data</button> -->
      <button id="create">Create</button>
      <button value='999' id="fill">Fill</button>

      <div class="maps" id="mapCollection"></div>
      <div class="maps" id="foodmap"></div>

  </main>
  <script>

    $(function () {
      function initMap(mapData, type) {
      let i = 0;
      for(userMap of mapData[0]){
      let elem = `${type}${i}`
      map = new google.maps.Map(
        document.getElementById(elem), {
          id: userMap.id,
          zoom: 10,
          center: {
            lat: JSON.parse(userMap.lat),
            lng: JSON.parse(userMap.lng)
          },
          gestureHandling: 'cooperative'

        });

      var marker = new google.maps.Marker({
        position: {
          lat: JSON.parse(userMap.lat),
          lng: JSON.parse(userMap.lng)
        },
        map: map
      })
      i++;
      for(userMarker of mapData[1]){
        for(userMarkerData of userMarker){
      if (JSON.parse(userMarkerData.map_id) === JSON.parse(userMap.id)) {
        let marker = new google.maps.Marker({
          position: {
            lat: JSON.parse(userMarkerData.lat),
            lng: JSON.parse(userMarkerData.lng)
          },
          map: map
        })
      };
      }
      }
    }
    };

      $("#fill").on("click", function () {
        title = $(this).val().split(' ');
        console.log(title);
        $.ajax({
            url: `/discover/999`,
            method: 'GET'
          })
          .done(mapData => {
            const populateMaps = function () {
              $('#foodmap').empty();
              for (let i = 0; i < mapData[0].length; i++) {
                $('#foodmap').append(`<div class="map" id='foodMap${i}'></div>`)
              }
              type = 'foodMap';
              initMap(mapData, type);
            }
            populateMaps();
            console.log('ALEX', title);
          })
      });

      $("#create").on("click", function () {
        title = $(this).val().split(' ');
        console.log(title);
        $.ajax({
            url: `/alex/maps`,
            method: 'GET'
          })
          .done(mapData => {
            const populateMaps = function () {
              $('#mapCollection').empty();
              for (let i = 0; i < mapData[0].length; i++) {
                $('#mapCollection').append(`<div class="map" id='map${i}'></div>`)
              }
              type = 'map';
              initMap(mapData, type);
            }
            populateMaps();
          })
      });
    });
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap"></script>

</body>
</html>

