body {
  background-color: #EEE;
  display: grid;
}

nav {
  grid-area: nav;
}

.menu-drop {
  grid-area: navDropBtn;
}

.menu {
  grid-area: navDrop;
}

main {
  grid-area: content;
  display: grid;
  row-gap: 2em;
  /* column-gap: 1em; */
}

.sliderMaps {
  grid-area: slider;
}

/* Checking for desktop displays and Setting styles */

@media screen and (min-width: 1024px) {
  body {
    grid-template-columns: 16em auto;
    grid-template-rows: 3em auto;
    grid-template-areas:
    "navDropBtn content"
    "navDrop content";
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1em 40em 30em;
    grid-template-areas:
    "desc desc desc"
    "gmaps gmaps gmaps"
    "slider slider slider";
    margin: 0em 1em 0em 1em;
  }
}

/* Checking for anything under desktop size and setting styles */

@media screen and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5em auto 1fr;
    grid-template-areas:
    "nav"
    "navDrop"
    "content";
    grid-gap: 0em;
  }

  /* Change this layout for tablet sizes */
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5em 20em 20em;
    grid-template-areas:
    ". desc ."
    "gmaps gmaps gmaps"
    "article1 article2 article3";
    margin: 2em 2em 0em 2em;
  }
}

@media screen and (max-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5em auto 1fr;
    grid-template-areas:
    "nav"
    "navDrop"
    "content";
    grid-gap: 0em;
    }

  main {
    grid-template-columns: 1fr;
    grid-template-rows: 5em 20em 10em 10em 10em;
    grid-template-areas:
    "desc"
    "gmaps"
    "article1"
    "article2"
    "article3";
    margin: 2em 2em 0em 2em;
  }
}
