.menu {
  padding: 0em 1em;
  background-color: rgb(38, 33, 39);
}

.menu-drop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 16em;
  position: fixed;
  z-index: 200;
  background-color: rgb(38, 33, 39);
}

.menu-discover {
  display: flex;
  color: white;
}

.menu-discover-header {
  color: white;
  margin-bottom: 0em;
  align-self: center;
}

.menu-discover span {
  margin: 0.5em 0.5em 1em;
  display: flex;
  justify-content: center;
}

.menu span p {
  padding-top: 0.5em;
}

 /* Checking for desktop displays and Setting styles */

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 16em;
    height: 100%;
    z-index: 100;
    margin-top: 3em;
    position: fixed;
  }

  .nav-logo-btn {
    display: none;
  }

  .menu-search {
    display: none;
  }

  .menu-discover {
    flex-direction: column;
  }

  .user {
    align-items: center;
  }

  .user-email {
    font-size: 100%;
  }
}

/* Checking for anything under desktop size and setting styles */

@media screen and (max-width: 1024px) {
  .menu {
    display: none;
    /* display: flex; */
    flex-direction: column;
    height: auto;
  }

  .nav-logo-btn {
    display: block;
  }

  .nav-logo-static {
    display: none;
  }

  .menu-search {
    width: 100%;
  }

  .menu-search-input {
    margin-left: 1em;
    width: 80%;
  }

  .menu-discover {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .user {
    display: none;
  }
}

