.slider {
  display: flex;
  height: 14em;
  bottom:0%;
  position: fixed;
  width: max-content;
  /* margin-left: 16em; */
  border: 2px solid black;
  /* background-color: #393838; */
  overflow-x: hidden;
  overflow-x: auto;
  opacity: 1;
}

.slider-container {
  height: 13em;
  width: 20em;
}
