#slider-maps {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* padding-right: 1em; */
}

#mapCollection {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: rgb(116, 115, 115, 0.6);

  /* overflow-y: hidden; */
  /* white-space: nowrap; */
}

.maps {
  display: none;
}

.map-btns {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.map-btns:hover .hover-btns{
  display: flex;
}

.hover-btns {
  position: absolute;
  z-index: 100;
  display: none;
  flex-direction: column;
  padding-right: 1em;
}

.user-maps-icons:hover {
  color: green;
}

.map {
  margin: 0em 1em 0.5em 0.5em;
  /* margin-right: 1em; */
  height: 18em;
  border-radius: 8px;
  width: 25em;
  flex: 0 0 auto;
}
